@import "tailwindcss";

:root {
  --background: rgb(20, 20, 20);
  --card: rgb(34, 34, 34);
  --mainText: white;
  --secText: rgb(84, 84, 84);
  --outline: rgb(131, 131, 131);
  --red: rgb(232, 0, 0);
  --green: rgb(34, 230, 73);
}

.screen {
  display: flex;
  margin: 0 auto;
  width: 95%;
  max-width: 1150px;
}

@theme {
  --color-background: var(--background);
  --color-card: var(--card);
  --color-mainText: var(--mainText);
  --color-secText: var(--secText);
  --color-outline: var(--outline);
  --color-red: var(--red);
  --color-green: var(--green);
}

body {
  background-color: var(--background);
  color: var(--mainText);
}

.label {
  background-color: var(--card);
  border: 1px solid var(--outline);
  color: var(--mainText);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
